body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #333333;
}

body.dark-mode nav ul li a {
  color: #ffffff;
}

body.dark-mode .resume-link {
  background-color: #1a73e8;
}
